<%= form_for [refinery, :calendar_admin, @event] do |f| %>
  <%= render '/refinery/admin/error_messages', object: @event, include_object_name: true %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'larger widest' %>
  </div>

  <div class="field">
    <p>
      <%= f.check_box :featured %>
      <%= f.label :featured, class: 'stripped' %>
    </p>
  </div>


  <div class="field">
    <div id='page-tabs' class='clearfix'>

      <ul id='page_parts'>
        <% [:description, :excerpt].each_with_index do |part, part_index| %>
          <li class='ui-state-default<%= ' ui-state-active' if part_index == 0 %>'>
            <%= link_to t("#{part}", scope: "activerecord.attributes.refinery/calendar/event", default: part.to_s.titleize), "##{part}" %>
          </li>
        <% end %>
        <% ::Refinery::Calendar.tabs.each_with_index do |tab, tab_index| %>
          <li class='ui-state-default' id="custom_<%= tab.name %>_tab">
            <%= link_to tab.name.titleize, "#custom_tab_#{tab_index}" %>
          </li>
        <% end %>
      </ul>

      <div id='page_part_editors'>
        <% [:description, :excerpt].each_with_index do |part, part_index| %>
          <div class='page_part' id='<%= part %>'>
            <%= f.text_area part, :rows => 20, :class => 'visual_editor widest' %>
          </div>
        <% end %>

        <% ::Refinery::Calendar.tabs.each_with_index do |tab, tab_index| %>
          <div class='page_part' id='<%= "custom_tab_#{tab_index}" %>'>
            <%= render tab.partial, f: f %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= render '/refinery/admin/form_actions', f: f,
             continue_editing: false,
             delete_title: t('refinery.calendar.admin.events.event.delete'),
             delete_confirmation: t('refinery.admin.delete.message', title: @event.title) %>

<% end %>
